{% extends "base.html" %}

{% block title %} aplicación ramdom Flask{% endblock %}

        {% block content %}
        <h3>Bienvenido a mi aplicación random Flask</h3>

        <table>
                <tr>
                        <th>
                                nombre pkm
                        </th>
                        <th>
                                types pkm
                        </th>

                </tr>
                {% for dato in datos.datos %}
                <tr>
                        <td>
                                {{dato.names}}
                        </td>
                        <td>
                                {{dato.types}}
                        </td>
                </tr>
                {% endfor %}
        </table>
        <p>Esta es la página principal</p>
        {% endblock %}
   
    